@model ProsumerGrid.Models.SmartGrid.GridDTO

<div>
    <h4>Grid Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Production)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockExchangeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockExchangeValue)
        </dd>

    </dl>
</div>
